
.flag {
	border: 1px solid silver;
	width: 300px;
	height: 200px;
	display: inline-block;
	margin: 50px 100px;
	position: relative;
}

.color-esp1 {
	background-color: rgb( 198, 11, 30);
	height: 25%;
}

.color-esp2 {
	background-color: rgb( 255, 196, 0);
	height: 50%;
	position: static;
}

.color-den1 {
	height: 42%;
	background-color:rgb( 199, 4, 44);
	z-index: 0;
	position: static;
}

.color-den2 {
	height: 16%;
	background-color: rgb( 255, 255, 255);
	z-index: 0;
	position: static;
}

.color-den3 {
	height: 100%;
	width: 11.76%;
	background-color: rgb( 255, 255, 255);
	float: left;
	z-index: 1;	
	position: relative;
	top: -200px;
	left: 29.79%;
}

.color-emi1 {
	height: 33.33%;
	background-color: green;
	z-index: 0;
}

.color-emi2{
	height: 33.33%;
	background-color: white;
	z-index: 0;
	position: relative;
}

.color-emi3{
	height: 33.33%;
	background-color: black;
	z-index: 0;
	position: relative;
}
.color-emi4{
	height: 100%;
	width: 30%;
	clar:left;
	background-color: red;
	z-index: 1;
	position: relative;
	top: -200px;
}

.color-jap1 {
	height: 100%;
	width: 100%;
	z-index: 0;
	background-color: rgb( 255, 255, 255);
	position: absolute;
}

.color-jap2 {
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: rgb( 188, 0, 45);
	z-index: 1;
	clear: left;
	position: relative;
	margin: 40px auto 40px auto;
}
